@import "@fontsource/m-plus-rounded-1c/400.css";
@import "@fontsource/m-plus-rounded-1c/700.css";
@import "@fontsource/m-plus-rounded-1c/900.css";
@import "@fontsource/train-one";

html,
body {
  margin: 0;
  height: 100%;
}

main {
  display: flex;
  margin: 0;
  height: 100%;
  flex-direction: column;
}
