---
import SimpleLayout from "~/layouts/SimpleLayout.astro"
---

<SimpleLayout realTitle="神戸高専 高専祭 2023">
  <h1>神戸高専 高専祭 2023</h1>
  <h2><a href="https://kcctfes23.jp" target="_blank">kcctfes23.jp</a></h2>
  <h2><a href="/denshi/">電子工学科 科展示</a></h2>
</SimpleLayout>
