---
import HeadMeta from "~/components/HeadMeta.astro"
import "~/styles/global.css"
import "~/styles/transitions.css"
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <HeadMeta {...Astro.props} />
  </head>
  <body>
    <main class="transition-main">
      <slot />
    </main>
  </body>
</html>
